<form class="row g-3 needs-validation" [formGroup]="userCarsControl" (ngSubmit)="onSubmit()">
  <h1>Владелец</h1>
  <div class="mb-3 row">
    <label
      for="ln"
      class="col-sm-2 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      Фамилия
    </label>
    <div class="col-sm-4">
      <input
        type="text"
        name="lastName"
        id="ln"
        formControlName="lastName"
        [readonly]="isReadOnly"
        class="form-control"
        [ngClass]="{'is-invalid': (userCarsControl.controls['lastName'].invalid
        && (userCarsControl.controls['lastName'].dirty
          || userCarsControl.controls['lastName'].touched))}"
        required
      >
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="fn"
      class="col-sm-2 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      Имя
    </label>
    <div class="col-sm-4">
      <input
        type="text"
        name="firstName"
        id="fn"
        formControlName="firstName"
        [readonly]="isReadOnly"
        class="form-control"
        [ngClass]="{'is-invalid': (userCarsControl.controls['firstName'].invalid
        && (userCarsControl.controls['firstName'].dirty
          || userCarsControl.controls['firstName'].touched))}"
        required
      >
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="mn"
      class="col-sm-2 col-form-label"
      [ngStyle]="{'font-weight': '700'}"
    >
      Отчество
    </label>
    <div class="col-sm-4">
      <input
        type="text"
        name="middleName"
        id="mn"
        formControlName="middleName"
        [readonly]="isReadOnly"
        class="form-control"
        [ngClass]="{'is-invalid': (userCarsControl.controls['middleName'].invalid
        && (userCarsControl.controls['middleName'].dirty
          || userCarsControl.controls['middleName'].touched))}"
        required
      >
      <!-- <div class="invalid-tooltip" *ngIf="userCarsControl.controls['middleName'].invalid
        && (userCarsControl.controls['middleName'].dirty
          || userCarsControl.controls['middleName'].touched)"
      >
        * Введите отчество !!
      </div> -->
    </div>
  </div>

  <div formArrayName="carsControl">
    <h2>Автомобили</h2>
    <div class="row gx-3 gy-2 align-items-center">
      <div class="col-sm-2">
        <input
          type="text"
          value="Номер"
          readonly class="form-control-plaintext"
          [ngStyle]="{'font-weight': '700'}"
        >
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          value="Марка"
          readonly class="form-control-plaintext"
          [ngStyle]="{'font-weight': '700'}"
        >
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          value="Модель"
          readonly
          class="form-control-plaintext"
          [ngStyle]="{'font-weight': '700'}"
        >
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          value="Год"
          readonly class="form-control-plaintext"
          [ngStyle]="{'font-weight': '700'}"
        >
      </div>
    </div>
    <fieldset
      *ngFor="let car of carsControl.controls; let i = index;"
      [formGroupName]="i"
      class="row gy-2 gx-3 align-items-center"
    >
        <div class="col-sm-2 mb-2">
          <label [for]="'number' + i" class="visually-hidden"></label>
          <input
            [id]="'number' + i"
            type="text"
            name="number"
            formControlName="number"
            class="form-control"
            [ngClass]="{'is-invalid': (carsControl.controls[i].get('number')?.invalid
            && (carsControl.controls[i].get('number')?.dirty
              || carsControl.controls[i].get('number')?.touched))}"
            [readonly]="isReadOnly"
            required
          >
          <div class="invalid-tooltip" *ngIf="carsControl.controls[i].get('number')?.touched && carsControl.controls[i].get('number')?.hasError('dulicatesNumber')">
            * Номер уже существует !!
          </div>
        </div>
        <div class="col-sm-2 mb-2">
          <label [for]="'brand' + i" class="visually-hidden"></label>
          <input
            [id]="'brand' + i"
            type="text"
            name="brand"
            formControlName="brand"
            class="form-control"
            [ngClass]="{'is-invalid': (carsControl.controls[i].get('brand')?.invalid
            && (carsControl.controls[i].get('brand')?.dirty
              || carsControl.controls[i].get('brand')?.touched))}"
            [readonly]="isReadOnly"
            required
          >
        </div>
        <div class="col-sm-2 mb-2">
          <label [for]="'model' + i" class="visually-hidden"></label>
          <input
            [id]="'model' + i"
            type="text"
            name="model"
            formControlName="model"
            class="form-control"
            [ngClass]="{'is-invalid': (carsControl.controls[i].get('model')?.invalid
            && (carsControl.controls[i].get('model')?.dirty
              || carsControl.controls[i].get('model')?.touched))}"
            [readonly]="isReadOnly"
            required
          >
        </div>
        <div class="col-sm-2 mb-2">
          <label [for]="'year' + i" class="visually-hidden"></label>
          <input
            [id]="'model' + i"
            type="number"
            name="year"
            formControlName="year"
            class="form-control"
            [ngClass]="{'is-invalid': (carsControl.controls[i].get('year')?.invalid
            && (carsControl.controls[i].get('year')?.dirty
              || carsControl.controls[i].get('year')?.touched))}"
            [readonly]="isReadOnly"
            required
          >
          <div class="invalid-tooltip" *ngIf="carsControl.controls[i].get('year')?.touched && carsControl.controls[i].get('year')?.hasError('requiredMinValue')">
            * Год не менше 1990 !!
          </div>
          <div class="invalid-tooltip" *ngIf="carsControl.controls[i].get('year')?.touched && carsControl.controls[i].get('year')?.hasError('requiredMaxValue')">
            * Год не болше текущего !!
          </div>
        </div>
        <div class="col-sm-2 mb-2" >
          <button
            class="btn btn-danger"
            [disabled]="isReadOnly"
            (click)="getGroup($event)"
            [id]="i + 'btn'"
          >
            Delete
          </button>
        </div>
    </fieldset>
  </div>
  <div>
    <div>
      <button
        [disabled]="isReadOnly"
        (click)="addNewCar()"
        class="mt-3 btn btn-primary"
      >
        + Добавить автомобиль
      </button>
    </div>
    <div>
      <button
        type="submit"
        class="my-3 me-3 btn btn-primary"
        [disabled]="!userCarsControl.valid || isReadOnly || userCarsControl.untouched"
        (click)="onSubmit()"
      >
        Сохранить
      </button>
      <button class="my-3 btn btn-secondary" (click)="goBack()">Назад</button>
    </div>
  </div>
</form>
